.btn-finder .dashicons {
	margin-top: .182em;
}

.btn-finder .fas {
	display: block;
	font-size: larger;
	float: left;
	width: 1em;
	height: 1em;
	font-style: normal;
}

.btn-finder [class^="fwtsw-"] {
	display: block;
	font-size: larger;
	float: left;
	width: 1em;
	height: 1em;
	font-style: normal;
}

.btn-finder .fwtsw-prev:before,
.btn-finder .fwtsw-next:before,
.btn-finder .fwtsw-reset:before {
	font-family: dashicons;
	position: relative;
	top: -.3em;
	display: block;
}

.highlight {
	background: #fafaaa;
}

.highlight.active {
	background: #aff7f0;
}

.finder {
	height: auto;
	background: #fff;
     /*font-family: inherit, Arial, Helvetica, sans-serif;*/
	border-bottom: 1px solid #e5e5e5;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
	padding: 5px;
	transition: top 0.15s ease-out;
}

.findword-toolbox {
	position: relative;
	top: -3.5em;
	height: auto;
	background: transparent;
	box-shadow: none;
}

#finder.finder.active,
 .findword-toolbox {
	width: 98%;
	margin-left: 1.222%;
}

input.finder-input {
	width: 98.8992%;
	border-bottom: 1px solid #e5e5e5;
	padding-left: 2px;
	border-radius: initial;
	border-style: initial;
	font-size: 1em;
}

.finder-input, .btn-finder:not(:last-child) {
	margin-right: 10px;
}

.finder button.btn-finder {
	padding: 7px 10px;
	border-style: solid;
	border-radius: 3px;
}

a.button.fwtswp-secondary,
a.button.fwtswp-secondary:visited {
	background-color: #e2e2e2;
	color: #000;
	border-radius: 3px;
	padding: 3px 10px;
}

.btn-finder:not(.btn-finder-tools) {
	margin-top: 8px;
}

button.btn-finder-tools {
	margin-top: -.6em;
	padding: 7px 10px;
	display: block;
	float: right;
}

button.btn-finder-tools:after {
	content: "";
	clear: both;
}

.finder-activator {
	margin: 5px auto 30px 1.5%;
	padding: 7px 10px;
	border-radius: 3px;
	border-style: solid;
	cursor: pointer;
	opacity: 1;
}

.finder.active + .finder-activator {
	opacity: 0;
}

.finder-count {
	display: inline-block;
	width: 100%;
	height: 1.285em;
	vertical-align: middle;
	padding: 5px 2px;
	color: #448484;
	white-space: nowrap;
}

.fidnword-tools-inner {
	margin-top: 2.2em;
	height: auto;
	background: #fff;
	padding: 5px;
	transition: top 0.15s ease-out;
}

.findword-meta-personal button{
	font-size:smaller;
}

.findword-personal-promo p,
.findword-meta-personal button,
.findword-personal-fwptranslate{
	margin-left: .444em;
}

.findword-meta-default li {
	list-style: inherit;
	line-height: 1.4 !important;
font-size: smaller;
color: #616161;
}

.findword-meta-default li span {
	opacity: .7;
	letter-spacing: 1px;
	color: #373
}

#findword_tsw_plus_personals fieldset {
	max-width: 100%;
	margin: .5em auto;
	border-color: transparent;
	padding: 7px;
}