 
.fwpmodal-content{
visibility: hidden;
width:480px;
height:480px;
margin: 17.5% auto;
background: #fafafa;
border: 2px solid #ddd;
padding: 15px;
}
.fwpmodal{
visibility: hidden;
transform: translateX(-50%) translateY(-50%) scale(1);
position: fixed;
left: 50%;
top: 50%;
width: 100%;
height: 100vh;
background-color: rgba(0, 0, 0, 0.7);}
.fwpmodal-content.fwpactive, 
.fwpmodal.fwpactive{
visibility:visible;
}
.fwpclose-button{
text-align: center;
background: #fa4434;
border-radius: 50%;
font-size: 2em;
padding: 3px 15px 7px;
color: white;
box-shadow: 0 0 1px 1px #eee;
cursor: pointer;
} 